html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    height: 100vh;
    background: url('../assets/bkg_beach.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.text_container {
    width: 70%;
    height: 50%;
    position: absolute;
    background: rgba(0,0,0,.7);
    border: solid 6px #fff;
    left: 18%;
    top: 20%;
}

.msg {
    text-align: center;
    color: #fff;
}

.flipping {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left,#8b4b8e, #5b4aa4);
    background-repeat: no-repeat;
    background-size: cover;
}

.flip_Cards {
    width: 25%;
    height: 70%;
    position: relative;
    box-shadow: 2px 1px 9px 1px #ffff;
    transform-style: preserve-3d;
    padding: 20px;
    margin: 10px;
}

.flip_Cards .face {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: 2s ease-in-out;
    transform: perspective(500px) rotateY(0deg);
}

.flip_Cards:hover .face.front {
    transform: perspective(500px) rotateY(180deg);
}

.flip_Cards .face.back {
    background-image: linear-gradient(to left,#8b4b8e, #5b4aa4);
    color: #fff;
    transform: perspective(500px) rotateY(180deg);
}

.flip_Cards:hover .face.back {
    transform: perspective(500px) rotateY(360deg);
}

.flip_content {
    width: 90%;
    height: 90%;
}


.flip_Cards .face div {
    font-size: 4em;
    text-transform: uppercase;
    transform: perspective(500px) translateZ(50px);
}

.box {
    position: absolute;
    background: rgba(0,0,0);
    background-attachment: fixed;
}
